// Page, Post and Article Boxes on Home Page
.box-home-wrap {

	.box-home {
		margin-bottom: 1.5em;

		.box-content-wrap {
			margin-bottom: 1.5em;

			.box-header-wrap {

				.box-header {

                    //width: 320px;
					width: 100%;
                    height: 220px;

					.box-header-info {

					}
				}
			}

			.box-content {

				.box-content-title {
					font-family: $font-heading;
					font-size: $font-size-3;
					margin: 0.75em 0;

					a {
						color: $color-primary-text;

						&:hover {
							color: $color-link;
						}
					}
				}
			}
		}

		.box-content-split {

			.box-header-wrap {
				float: left;
				overflow: hidden;
				width: 40%;

				.bkg-element-wrap {
					//width: 320px;
					width: 100%;
					height: 220px;
				}
			}

			.box-content {
				//padding-left: 350px;
				padding-left: 43%;
			}
		}

		@include responsive-max( screen-tablet-large ) {

			.box-content-split {

				.box-header-wrap {

                    .box-header {
						//width: 160px;
						//height: 120px;
                    }
				}

				.box-content {
					//padding-left: 180px;
				}
			}
		}

		@include responsive-max( screen-mobile-large ) {

			.box-content-split {

				.box-header-wrap {
					float: none;
					margin-bottom: 1.5em;
					width: 100%;

					.box-header {
						width: 100%;
						height: 160px;
					}
				}

				.box-content {
					padding-left: 0;
				}
			}
		}
	}
}

.widget-box-search-post {

	.box-page-search {
		height: 300px;
		margin-bottom: 1em;
		background-color: $color-primary-l;
		color: $color-primary-text-l;
		padding: 1rem;

		.box-content-wrap {

			.box-header-wrap {
				overflow: hidden;
				margin-bottom: 1em;

				.bkg-element-wrap {
					width: 100%;
					height: 160px;
				}
			}

			.box-content {

				.box-content-title {
					font: $font-heading;
					font-size: $font-size-5;
					margin: 0.5em 0;

					a {
						color: $color-primary-text;

						&:hover {
							color: $color-link;
						}
					}
				}
			}
		}

		@include responsive-max( screen-tablet-large ) {
			height: 280px;

			.box-header-wrap {

				.bkg-element-wrap {
					width: 100%;
					height: 120px;
				}
			}
		}

		@include responsive-max( screen-mobile-large ) {
			height: 260px;

			.box-header-wrap {

				.bkg-element-wrap {
					width: 100%;
					height: 80px;
				}
			}
		}
	}
}
