// Page, Post and Article Boxes on Home Page
.box-home-wrap {

	.box-home {
		margin-bottom: 1.5em;

		.box-content-wrap {
			margin-bottom: 1.5em;

			.box-header-wrap {

				.box-header {

                    //width: 320px;
					width: 100%;
                    height: 220px;

					.box-header-info {

					}
				}
			}

			.box-content {

				.box-content-title {
					font-family: $font-heading;
					font-size: $font-size-3;
					margin: 0.75em 0;

					a {
						color: $color-primary-text;

						&:hover {
							color: $color-link;
						}
					}
				}
			}
		}

		.box-content-split {

			.box-header-wrap {
				float: left;
				overflow: hidden;
				width: 300px;

				.bkg-element-wrap {
					width: 100%;
					height: 220px;
				}
			}

			.box-content {
				padding-left: 330px;
			}

			.box-footer {

				.widget-social-share {

					padding: 0.25em 0;

					.nav {

						li {
							padding: 0.25em;
							border: 1px solid $color-link;
							@include rounded( 100% );
							@include transit-all( $transit-eio, $transit-time-medium );

							&:hover {
								border: 1px solid $color-btn;
								transform: scale(1.2);

								a {
									color: $color-btn;
								}
							}
						}
					}
				}
			}
		}

		@include responsive-max( screen-tablet-large ) {

			.box-content-split {

				.box-header-wrap {

                    width: 40%;
				}

				.box-content {
					padding-left: 43%;
				}
			}
		}

		@include responsive-max( screen-mobile-large ) {

			.box-content-split {

				.box-header-wrap {
					float: none;
					margin-bottom: 1.5em;
					width: 100%;

					.box-header {
						width: 100%;
						height: 160px;
					}
				}

				.box-content {
					padding-left: 0;
				}
			}
		}
	}
}

.widget-box-search-post {

	.box-page-search {
		margin-bottom: 1em;
		background-color: $color-primary-l;
		color: $color-primary-text-l;
		padding: 1rem;

		.box-content-wrap {
			height: 415px;

			.box-header-wrap {
				overflow: hidden;
				margin-bottom: 1em;

				.box-header {
					height: 160px;
				}
			}

			.box-content {

				.box-content-title {
					font-family: $font-heading;
					font-size: $font-size-5;
					margin: 0.5em 0;

					a {
						color: $color-primary-text;

						&:hover {
							color: $color-link;
						}
					}
				}
			}
		}

		@include responsive( screen-desktop-small ) {
			width: 31.33332%;

			.box-content-wrap {
				height: 350px;

				.box-header-wrap {

					.box-header {
						height: 120px;
					}
				}
			}
		}

		@include responsive-max( screen-tablet-large ) {

			.box-content-wrap {
				height: 340px;

				.box-header-wrap {

					.box-header {
						height: 130px;
					}
				}
			}
		}

		@include responsive-max( screen-tablet-small ) {

			.box-content-wrap {
				height: 355px;

				.box-header-wrap {

					.box-header {
						height: 120px;
					}
				}
			}
		}

		@include responsive-max( screen-mobile-large ) {

			.box-content-wrap {
				height: auto;
			}
		}

		@include responsive-max( screen-mobile-small ) {

			.box-content-wrap {

				.box-header-wrap {

					.box-header {
						height: 80px;
					}
				}
			}
		}
	}
}
