// ---------------------------------------//
// Core Division
// ---------------------------------------//

@import "breeze/core/variables";
@import "partials/core/fonts";
@import "partials/core/variables";

@import "breeze/core/variables-ext";

@import "breeze/core/mixins";

@import "breeze/core/transitions";
@import "breeze/core/transformations";
@import "breeze/core/animations";

@import "breeze/core/reset";
@import "breeze/core/basic";
@import "partials/core/basic";

@import "breeze/core/coloring";
@import "breeze/core/spacing";

@import "breeze/core/typography";
@import "partials/core/typography";

@import "breeze/core/containers";
@import "partials/core/containers";

@import "breeze/core/shapes";

// ---------------------------------------//
// Effects Division
// ---------------------------------------//

@import "breeze/effects/hover/color";
@import "breeze/effects/hover/transform";
@import "breeze/effects/hover/animate";

@import "breeze/effects/animations/basic";

// ---------------------------------------//
// Elements Division
// ---------------------------------------//

@import "breeze/elements/basic";

//@import "breeze/elements/icon-picker";
//@import "breeze/elements/time-picker";
@import "breeze/elements/list";
@import "breeze/elements/select";
@import "breeze/elements/choice";
@import "breeze/elements/rating";
@import "breeze/elements/switch";
@import "breeze/elements/button";
@import "partials/elements/select";
@import "partials/elements/choice";

@import "breeze/elements/form";
//@import "breeze/elements/table";
@import "partials/elements/form";

//@import "breeze/elements/splitter";
@import "breeze/elements/tabs";
@import "breeze/elements/accordian";
@import "breeze/elements/breadcrumb";
//@import "breeze/elements/auto-fill";
//@import "breeze/elements/uploader";
//@import "breeze/elements/flipper";
@import "partials/elements/accordian";

// ---------------------------------------//
// Components Division
// ---------------------------------------//

//@import "breeze/components/data/zigzag";
//@import "breeze/components/data/crud";

@import "breeze/components/menus/basic";
//@import "breeze/components/menus/collapsible";
@import "breeze/components/menus/social";
@import "partials/components/menus/basic";

@import "breeze/components/headers/basic";
@import "partials/components/headers/basic";

@import "breeze/components/footers/basic";
@import "partials/components/footers/basic";

//@import "breeze/components/sidebars/basic";
@import "breeze-templates/components/sidebars/default";
@import "partials/components/sidebars/default";

//@import "breeze/components/mappers/basic";

//@import "breeze/components/popups/basic";
//@import "breeze/components/popups/popouts";

//@import "breeze/components/sliders/basic";

//@import "breeze/components/galleries/basic";

@import "breeze/components/cards/basic";
//@import "breeze/components/cards/panel";
@import "breeze-templates/components/cards/default";
@import "breeze-templates/components/cards/page";
@import "breeze-templates/components/cards/info";
@import "partials/components/cards/basic";
@import "partials/components/cards/page";

@import "breeze/components/boxes/basic";
//@import "breeze/components/boxes/panel";
//@import "breeze/components/boxes/login";
//@import "breeze/components/boxes/form";
//@import "breeze/components/boxes/file";
@import "breeze-templates/components/boxes/default";
@import "breeze-templates/components/boxes/page";
@import "breeze-templates/components/boxes/info";
@import "partials/components/boxes/basic";
@import "partials/components/boxes/page";

@import "breeze/components/widgets/basic";
//@import "breeze/components/widgets/cart";
@import "breeze-templates/components/widgets/default";
@import "breeze-templates/components/widgets/card";
@import "breeze-templates/components/widgets/box";
@import "partials/components/widgets/default";

@import "breeze/components/blocks/basic";
@import "breeze-templates/components/blocks/default";
@import "breeze-templates/components/blocks/max";
@import "partials/components/blocks/basic";

@import "breeze/components/grid/pagination";
//@import "breeze/components/grid/sorting";
//@import "breeze/components/grid/filters";
//@import "breeze/components/grid/data";
//@import "breeze/components/grid/table";
//@import "breeze-templates/components/grid/default/pagination";
//@import "breeze-templates/components/grid/default/data";
@import "partials/components/grid/pagination";

@import "breeze/components/pages/basic";
@import "breeze-templates/components/pages/default";
@import "partials/components/pages/default";

// ---------------------------------------//
// Extensions Division
// ---------------------------------------//

@import "breeze/extensions/fox-slider";
@import "partials/extensions/fox-slider";

@import "breeze/extensions/m-custom-scrollbar";
//@import "partials/extensions/m-custom-scrollbar";

//@import "partials/extensions/full-calendar";
