// Custom Select ---------------

.cmt-select-wrap {
    margin: 0.5em 0;

    .cmt-select {

        @include rounded( $size-small );

        .cmt-selected {
            padding-right: 2.25em;
            @include rounded( $size-medium );

            .s-text {
                padding: 0.5em;
                line-height: 1.5em;
            }

            .s-icon {
                color: $color-primary-d;
                padding: 0.5em;
                line-height: 1.5em;
            }
        }

        .cmt-selected, .cmt-select-list {
            @include shadow-inset( 0, 0, 0, $color-secondary-l, $spread: 1px );
        }

        .cmt-select-list {

            li {
                background-color: transparent;
            }
        }
    }
}

// Custom Choice Group

.cmt-choice {

    label {
        cursor: pointer;
    }

    input[type="checkbox"]:checked + .label, .cmt-choice input[type="radio"]:checked + .label {
        color: inherit;
    }

    input[type=checkbox]:checked+.label::before {
        content: ":";
    }

    input[type=checkbox]:hover+.label::before, input[type=radio]:hover+.label::before, input[type=checkbox]+.label:hover::before, input[type=radio]+.label:hover::before, input[type=checkbox]:checked+.label::before, input[type=radio]:checked+.label::before {
        color: $color-btn;
    }
}

.frm-split-40-60 {

    .cmt-choice {

        .checkbox-group {
            float: left;
            width: 60%;

            label {
                float: none;
                display: inline-block;
                width: 100%;
            }
        }
    }
}

// Latitude/Longitude Picker

.lat-long-picker {

    .google-map {
        width: auto;
        height: 250px;
        margin: 0 auto;
    }
}

.search-form .lat-long-picker {

    .google-map {
        width: 100% !important;
        height: 250px;
        float: left;
    }
}

.labels {
    color: $color-white;
    background-color: $color-secondary;
    font-size: $font-size-7;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding: 0.5em 1em;
}

.cmt-choice span {
    padding: 6px 10px 0 0;
}

.cmt-switch {

    .cmt-toggle-round + label {
        background-color: transparent;
        border-radius: 2em;
        @include shadow-inset( 0, 0, 0, $color-secondary, 1px );
    }

    .cmt-toggle-round + label:before {
        background-color: transparent;
        border-radius: 2em;

    }

    .cmt-toggle-round + label:after {
        background-color: $color-secondary;
        border-radius: 2em;
    }

    .cmt-toggle-round:checked + label:before {
        background-color: $color-secondary;
    }

    .cmt-toggle-round:checked + label:after {
        background-color: $color-secondary-d;
        margin-left: 3.3em;
    }
}

//Captcha
.field-genericform-captcha {

    img {
        max-width: 48%;
        float: left;
    }

    input {
        float: right;
        max-width: 50%;
    }
}

.btn-delete {

    background-color: $color-primary-l;
    @include rounded (100%) ;

    &:hover {
        color: $color-red;
    }
}