.post-banner.bkg.bkg-image {
        height: 100px;
        margin : 2% 0;
        &:hover{
           opacity: 0.5;
        }
    }
    
    #block-public {
    padding-bottom: 2rem;
    padding-top: 120px;

    .block-content {
        background-color: $color-primary-l;
        color: $color-primary-text-l;
        width: 450px;
        margin: 0 auto;
        padding: 2rem;
        @include rounded ( $size-small );

        a {
            color: $color-btn;
        }

        p {
            font-size: $font-size-8;
        }

        h2 {
            color: $color-secondary;
            margin: 0;
        }

        @include responsive-max( screen-mobile-large ) {

            //background-color: $color-transparent-white;
            width: 90%;
        }
    }

    .menu-social {

        em {
            font-size: $font-size-8;

            @include responsive-max( screen-mobile-large ) {

                display: none;
            }
        }
    }

    .text-with-line {

        margin-bottom: 0;

        span {
            background-color: $color-primary-l;
            font-family: questrial;
        }
    }

    @include responsive-max( screen-mobile-large ) {
        padding-top: 140px;
    }

    @include responsive-min( screen-desktop-large ) {

        .block-content {
            @include valign-center;
        }
    }
}

.landing-featured-post-card {
	height: 400px;
	
}
