html, body {
    width: 100%;
    height: 100%;
}

.container-main {
    width: 100%;
    min-height: 100%;
}

.container-private {

    .sidebar-private, .wrap-content {
        padding-top: 95px;
    }
}