@font-face {
    font-family: clear-sans-L;
    src: url("../fonts/clear-sans/ClearSans-Light.eot");
    src: url("../fonts/clear-sans/ClearSans-Light.svg");
    src: url("../fonts/clear-sans/ClearSans-Light.ttf");
    src: url("../fonts/clear-sans/ClearSans-Light.woff");
}

@font-face {
    font-family: clear-sans-R;
    src: url("../fonts/clear-sans/ClearSans-Regular.eot");
    src: url("../fonts/clear-sans/ClearSans-Regular.svg");
    src: url("../fonts/clear-sans/ClearSans-Regular.ttf");
    src: url("../fonts/clear-sans/ClearSans-Regular.woff");
}