html, body {
    font-size: 10px;

    @include responsive-min( screen-mobile-large ) {
        font-size: 12px;
    }

    @include responsive-min( screen-tablet-large ) {
        font-size: 12px;
    }

    @include responsive-min( screen-desktop-large ) {
        font-size: 14px;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .header-default {
    font-family: $font-default-b;
}

a.btn {
    color: white;
}
