$font-default: clear-sans-L, Helvetica, sans-serif;
$font-default-b: clear-sans-R, Helvetica, sans-serif;

// Primary Text Color:
$color-primary-text: #505050;

// Secondary Color:
$color-secondary: #293846;   
$color-secondary-l: #2D404F; 

// Secondary Text Color:
$color-secondary-text: #96B0D6;
$color-secondary-text-l: #A7B1C2;

// Additional Colors
$color-header: #222222;