.popup {

    background-color: rgba(0, 0, 0, 0.75);
    .popup-data {

        background-color: $color-primary-l;

        .form-pre {
            padding: 1.5em 1em;
        }

        &.popup-data-medium {
            max-height:360px !important;
            height: auto;
        }

        .popup-close {
            top: -12px;
            right: -12px;
            padding: 0.5em;
            background-color: $color-primary-l;
            @include rounded (100%);
            color: $color-btn;
            z-index: 10000;
        }

        .popup-wrap-title {
            background-color: transparent;
            color: $color-primary-text-l;
            text-align: center;
            font-size: 2em;
            border-bottom: 1px solid $color-primary-text-l;
        }
    }

    @include responsive-max ( screen-tablet-small ) {

        .popup-data-medium {

            width: 90% !important;
            height: 260px !important;
        }
    }

    @include responsive-max ( screen-mobile-large ) {

        .popup-data-medium {

            //height: 220px !important;
        }
    }
}
