@font-face {
    font-family: lato-bold;
    src: url("../fonts/lato/lato-bol.eot");
    src: url("../fonts/lato/lato-bol.svg");
    src: url("../fonts/lato/lato-bol.ttf");
    src: url("../fonts/lato/lato-bol.woff");
}

@font-face {
    font-family: lato-regular;
    src: url("../fonts/lato/lato-reg.eot");
    src: url("../fonts/lato/lato-reg.svg");
    src: url("../fonts/lato/lato-reg.ttf");
    src: url("../fonts/lato/lato-reg.woff");
}

@font-face {
    font-family: lato-light;
    src: url("../fonts/lato/lato-lig.eot");
    src: url("../fonts/lato/lato-lig.svg");
    src: url("../fonts/lato/lato-lig.ttf");
    src: url("../fonts/lato/lato-lig.woff");
}

@font-face {
    font-family: roboto-bold;
    src: url("../fonts/roboto/roboto-bold.eot");
    src: url("../fonts/roboto/roboto-bold.svg");
    src: url("../fonts/roboto/roboto-bold.ttf");
    src: url("../fonts/roboto/roboto-bold.woff");
}

@font-face {
    font-family: roboto-regular;
    src: url("../fonts/roboto/roboto-regular.eot");
    src: url("../fonts/roboto/roboto-regular.svg");
    src: url("../fonts/roboto/roboto-regular.ttf");
    src: url("../fonts/roboto/roboto-regular.woff");
}