.fx-slider-basic {

    .slide, .wrap-slide-content, .slide-content {
        background-color: rgba(0, 0, 0, 0.2) ;
    }

    .control {
        @include transit-all( $transit-linear, $transit-time-large, $delay: 0s );
    }

    .control-left {
        left: 0;
    }

    .control-right {
        right: 0;
    }

    .fxs-content {

        .header, .content {
            color: $color-white;
            text-align: center;
            @include text-shadow( $size-default, $size-default, $size-medium, $color-black, 0.4 );
        }

        .header {
            font-family: $font-default-b;
            font-size: 2em;
        }

        @include responsive-min( screen-mobile-large ) {
            @include valign-center;
        }

        @include responsive-max( screen-mobile-large ) {
            display: none;
        }
    }

    @include responsive-max( screen-mobile-large ) {

        .control {
            height: 40px;
            width: 24px
        }

        .control-left {
            background-position: -96px -40px;

            &:hover {
                background-position: -96px 0px;
            }
        }

        .control-right {
            background-position: -96px 40px;

            &:hover {
                background-position: -96px 80px;
            }
        }
    }
}