.fx-main-slider, .block-slider, .page-slider, .article-slider, .post-slider {

	.slides-wrap {

		.slide {

			.wrap-slide-content {

				.slide-content {

					.fxs-content {
						background: none;
						text-align: center;
						width: 80%;
						padding: 0;
						@include text-shadow( $size-default, $size-default, $size-medium, $color-black, 0.4 );
						
						@include responsive-max( screen-mobile-large ) {
							font-size: 1em;
						}
					}
				}
			}
		}
    }

	.control {
		background: none;
	}

	.bullets {

		.bullet {
			width: 12px;
			height: 12px;
			background-position: -12px 0px;
			
			&.active {
				background-position: 0px 0px;
			}
		}
	}
}
