#block-header {
    height : 300px;
}

#header-main {
    z-index: 1000 !important;   

}

.blog-post-avatar {
    
    border-width: 4px;
    border-color: #fff;
    border-style: solid;
    width:60px; 
    height:60px; 
    margin-top:-30px;
    z-index: 100;
    
}

.post-info {
    
    display:none;
}

#landing-post {
    
    height: 100%;
    
    .single-block {
        
        height: 200px;
        overflow: hidden;
    }
    
    .cmt-slider {
        
      height: 230px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      .control {
          
      height: 70px;
      position: relative;
      top: 33%;
      width: 48px;
    }
    .control-left, .control-right {
        
        //background-color: ;
        &:hover{
            background-color: rgba(255,255,255,0.4);
        }
    
    }
        
    }
    .cmt-slider .slide {
        height: 200px;
        width: 258px;
        padding: 10px;
    }
    
}

#triangle-topright { 
   width: 0; 
   height: 0; 
   border-bottom: 3em solid #262626; 
   border-right: 4em solid transparent; 
}

#landing-static {
    height: 200px;
    .valign-center {
        transform: translateY(50%) !important;
    }
}

#landing-video {
    height: 300px;
	
    video {
        width       : auto;
        height      : 300px;
        min-height  : 300px;
        min-width   : 100%;
        position    : absolute;
        overflow	: hidden;
        z-index : -100000000;
        bottom : 0;
		
    }
}

#landing-slider-block {
    
    .cmt-slider {
        height: 200px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 70%;
        
        .control {
            height: 70px;
            position: relative;
            top: 33%;
            width: 48px;
        }
        .control-left, .control-right {
            //background-color: ;
            &:hover{
                background-color: rgba(255,255,255,0.4);
            }

        }
        
    }
    .cmt-slider .slide {
        height: 200px;
        width: 258px;
        padding: 10px;
    }
    
}

