.wrap-popout-actions {
    //background-color: $color-black;

    .btn-popout {
        padding: 1.55em 0.5em;
        margin: 0;
        border: 0;
        line-height: 1em !important;
        background-color: transparent !important;
        color: $color-gray-l;

        &:hover {
            background-color: $color-black !important;
            color: $color-white;
        }

        @include responsive ( screen-tablet-small ) {

            padding: 1.55rem 0;

            .count {
                margin: 0;
            }
        }
    }

    .btn-popout.active, .btn-popout.active:hover {
        background-color: $color-white !important;
        color: $color-primary-text !important;
    }

    .btn {
        line-height: 1em !important;
    }

    .wrap-user {
        text-align: left;
        padding: 0.62em 0.5em;

        .user-name {
            //line-height: 1em !important;
            //width: 70%;
            //text-align: left;
        }

        .user-avatar {
            height: 3rem;
            width: 3rem;
            padding: 2px;
            @include circled1( $color-gray-d, $color-gray-l );
            @include shadow-inset( 0, 0, 0, $color-gray-l, $spread: 2px );
        }

        @include responsive-max( screen-tablet-large ) {
            text-align: center;
            padding: 0.6em 0.5em;

            .user-name {
                display: none;
            }
        }
    }

    @include responsive-max ( screen-mobile-large ) {

        .colf15x3, .colf15x6 {
            width: 25%;
        }

        .btn-popout {
            background-color: $color-secondary-l !important;
        }
    }
}

.wrap-popouts {
    position: relative;
    width: 100%;
    float: left;

    > div {
        display: none;
    }

    .popout {
        background-color: $color-white;
        padding: 0.5em;
        position: absolute;
        @include shadow(0, 2px, 4px, $color-gray-l, 0);

        li {
            padding: 0.25em;
            border-bottom: 1px solid $color-gray-l;
            color: $color-primary-text;

            a {
                color: $color-primary-text;
                display: block;
            }
        }

        li:hover a {
            color: $color-link;
        }

        li:last-child {
            border-bottom: none;
        }
    }

    #popout-reminder {
        left: 20%;
    }

    #popout-activity {
        left: 40%;
    }

    #popout-user {
        right: 0;
    }

    @media only screen and ( min-width: $screen-mobile-large + 1 ) and ( max-width: $screen-tablet-small ),
    only screen and ( max-width: $screen-mobile-small ) {

        #popout-reminder, #popout-activity, #popout-user, #popout-notification {
            left: 0 !important;
            width:100% !important;
        }

        .popout li a {
            font-size: $font-size-8;
        }
    }
}