.page-default {

	.page-content-wrap {

		.page-content-row {
			padding: 0 5%;
		}
	}

	@include responsive-max( screen-tablet-large ) {

		.page-content-wrap {

			.page-content-row {
				padding: 0 5%;
			}
		}
	}
}

.page-model-blog {

	.page-content-wrap {

		.page-content {
			background-color: $color-primary-l;
			color: $color-primary-text-l;
			padding: 1em;
			margin-top: 2em;

			.page-content-banner + .page-content-data {
				margin-top: 1em;
			}
		}

		.page-content-comments {
			background-color: $color-primary-l;
			color: $color-primary-text-l;
			padding: 1em;
			margin-top: 2em;
		}
		
		.page-content-disqus {
			background-color: $color-primary-l;
			color: $color-primary-text-l;
			padding: 1em;
			margin-top: 2em;
			margin-bottom: 2em;
		}
	}
}
