html, body {
    font-size: 14px;

    @include responsive-min( screen-mobile-large ) {
        font-size: 16px;
    }

    @include responsive-min( screen-tablet-large ) {
        font-size: 18px;
    }
}
